<div class="container-fluid">
    <h1 style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">
        Available Quizzes
    </h1>
    <div class="row" *ngIf="quizes">
        
        <div class="col-md-4" *ngFor="let q of quizes;" >
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-truncate">{{q.description}}</p>
                        
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button color="accent" [routerLink]="'/user-dashboard/instructions/'+q.quizId">Start</button>
                        <button mat-button color="primary">Que:{{q.numberOfQuestions}}</button>
                        <button mat-button color="warn">Marks:{{q.maxMarks}}</button>
                    </mat-card-actions>
                </mat-card>
        </div>
        <div class="col-md-4" *ngIf="quizes.length == 0">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar ><mat-icon>dangerous</mat-icon></div>
                    <mat-card-title class="text-truncate">
                        No Quiz in this category
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    It seems like you have not been assigned any quiz in this particular category!
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>