<div class="container-fluid" *ngIf="isNotSubmit">
    <div class="row">
        <div class="col-md-2">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-ins"></div>
                    <mat-card-title>
                        Instructions
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>Each question carries equal marks.</li>
                            <li>There is no negative marking.</li>
                            <li>You have {{questions.length * 2}} minutes to complete the quiz.</li>
                            <li>Click on 'Submit' to finish the quiz.</li>
                        </ul>
                    </div>
                  </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-8">
            <ng-container *ngIf="questions">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-quiz"></div>
                        <mat-card-title>
                            {{questions[0].quiz.title}}
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
                <mat-card *ngFor="let q of questions;let i = index">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-question"></div>
                        <mat-card-title style="font-weight: normal;">
                           <p [innerHTML]="q.content"></p>
                        </mat-card-title>
                        <mat-card-subtitle>Question {{i+1}}</mat-card-subtitle>

                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <h3>
                            <mat-radio-group class="radio-group" [(ngModel)]="q.givenAnswer">
                                <mat-radio-button class="radio-button"  [value]="q.option1" >
                                  {{q.option1}}
                                </mat-radio-button>
                                <mat-radio-button class="radio-button"  [value]="q.option2">
                                  {{q.option2}}
                                </mat-radio-button>
                                <mat-radio-button class="radio-button"  [value]="q.option3">
                                  {{q.option3}}
                                </mat-radio-button>
                                <mat-radio-button class="radio-button"  [value]="q.option4">
                                  {{q.option4}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </h3>

                    </mat-card-content>

                </mat-card>
                <div class="text-center">
                    <button mat-flat-button color="primary" (click)="submitQuiz()" >
                        <mat-icon>check</mat-icon>
                        <span> Submit</span>
                      </button>
                </div>
            </ng-container>
        </div>
        <div class="col-md-2">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-timer"></div>
              <mat-card-title>
                Time Remaining
              </mat-card-title>
              <mat-card-subtitle>
                Quiz will Auto-Submit when timer will hit <b>0</b>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
              <div style="display: flex ; align-items: center;flex-direction: column;">
                <mat-spinner color="accent" mode="determinate" diameter="80" [value]="(timer/(this.questions.length * 2 * 60) * 100)" >
                </mat-spinner>
                <h2>
                  Time left : {{getFormattedTime()}}
                </h2>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="!isNotSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-result"></div>
                  <mat-card-title>
                    Hurray!!
                  </mat-card-title>
                  <mat-card-subtitle>
                    Results
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <h1 style="font-size: large;font-weight: normal;">
                    Congratulations! <br class="">You completed the quiz successfully!<br> An report will be send to your quiz publisher with your results.
                  </h1>
                  <h2>
                    <mat-icon>star</mat-icon> Percentage Obtained: {{ marksAccquired }} %
                  </h2>
                  <h2>
                    <mat-icon>star</mat-icon> Questions Attempted: {{ attempted }}
                  </h2>
                  <h2>
                    <mat-icon>star</mat-icon> Correct Answers: {{ correctAnswers }}
                  </h2>
                  <div *ngIf="marksAccquired === 100">
                    <h2 class="perfect-score">
                      <mat-icon>emoji_events</mat-icon> Perfect Score! Well done!
                    </h2>
                  </div>
                  <div *ngIf="correctAnswers === 0 && attempted > 0">
                    <h2 class="no-correct-answers">
                      <mat-icon>mood_bad</mat-icon> No correct answers this time. Better luck next time!
                    </h2>
                  </div>
                  <div *ngIf="attempted === 0">
                    <h2 class="not-attempted">
                      <mat-icon>info</mat-icon> You didn't attempt any questions.
                    </h2>
                  </div>
                </mat-card-content>
                <mat-card-actions class="text-center" style="display: flex;justify-content: space-evenly;">
                    <button mat-raised-button color="primary"  (click)="printPage()">
                        <mat-icon>print</mat-icon>
                        <span> Print</span>
                      </button>
                    <button mat-flat-button color="accent" routerLink="/user-dashboard" >
                        <mat-icon>home</mat-icon>
                        <span> Home</span>
                      </button>
                </mat-card-actions>
              </mat-card>

        </div>
    </div>
</div>
